<!DOCTYPE html>
<html lang="en">

<head>
  <title>Testing out website</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
  <nav>
    <a href="/">Create</a>
    <a href="/read">Read</a>
    <a href="/update">Update</a>
    <a href="/delete">Delete</a>
    <a href="/search">Search</a>
    <a href="/adv1">ADV1</a>
    <a href="/adv2">ADV2</a>
  </nav>

    <div class="container mt-4">
        <table class="table">
          <thead>
            <tr>
                   <th> No. </th>
              <th>CourseId</th>
              <th>Number</th>
              <th>Title</th>
              <th>DeptId</th>
            </tr>
          </thead>
          <tbody>
            <% if(data.length){ for(var i = 0; i< data.length; i++) {%>
            <tr>
              <th scope="row"><%= (i+1) %></th>
              <td><%= data[i].CourseId%></td>
              <td><%= data[i].Number%></td>
              <td><%= data[i].Title%></td>
              <td><%= data[i].DeptId%></td>
            </tr>
            <% } }else{ %>
            <tr>
              <td>No data ever existed.</td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>

</body>

</html>
